#heading{
	text-align:center;
}
#reg-form{
	display:block;
	text-align:center;
}
#name-label{
	float:right;
}
#name{
	float:left;
}
#email-label{
	float:right;
}
#email{
	float:left;
}
#pwd-label{
	float:right;
}
#pwd{
	float:left;
}
#pwd-repeat-label{
	float:right;
}
#pwd-repeat{
	float:left;
}
#contact-label{
	float:right;
}
#contact{
	float:left;
}